
@font-face {
    font-family: 'B_Yekan';
    src: 
    url('B_Yekan/Yekan.ttf') format('truetype');
}

body{

    direction: rtl;
    background-color: aliceblue;
    font-family: b titr;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(76, 72, 72);
    text-align: center;
/*     
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images/f9.jpg") */
  
    
}
nav{
    background-color: rgb(92, 92, 92);
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}
main{  
    display:flex;
   
    margin: 20px;
    padding: 20px;
}
footer{
    background-color: rgb(76, 72, 72);
    text-align: center;
}

#b{
    background-color:rgb(250, 244, 243);
    display: flex;
    text-align: center;
}
#c{
    background-color: bisque;
    display: inline-block;
    width: 14%;
}
/* #ss{
    height: 20px;
    width: 5px;
    border-style: solid;
    border-radius: 8px;
} */
#fd{
    font-size: 20px;
}
#img1{
    width: 50px;
    height: 100px;
}
#m1{
    background-color: rgb(180, 180, 180);
    color: rgb(5, 5, 8);
    width:20%;
    
    font-size: 20px;
}
#m2{
    background-color: rgb(255, 255, 255);
    /* width: 40%; */
    display: block;
    background-color: rgb(124, 120, 120);
    margin-right: 20px;
    
}

#mini1{
    display: flex;
    padding: 20px 5px 10px 15px;
    margin: 5px;
    
   
}
#mini2{
    display: flex;
    padding: 20px 5px 10px 15px;
    margin: 5px;
    
   
}


#s{
    padding: 10px 90px 10px 10px;

    background-color: rgb(124, 120, 120);
    color: rgb(5, 5, 8);
    width: 80%;
    display: block;
    


}
#s1{
    display: flex;
    
    padding: 20px 5px 10px 75px;
    margin: 5px;
  
    
}
#s2{
    display: flex;
    
   
}
#s3{
    display: flex;
}
#t{
}
.list{
    display: flex;
    list-style-type: none;
    
   
}

.item{
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    

}
.item1{
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 46, 38);
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
}
.item:hover{
    background-color: rgb(180, 174, 179);
}
.item1:hover{
    background-color: rgb(243, 114, 164);
}
