body{
    direction: rtl;
   
    font-family: b titr;
}
header{
    background-color: rgb(76, 72, 72);
    text-align: center;
    
    
}
nav{
    background-color: rgb(195, 110, 110);
    display: flex;
}
main{  
    display:flex;
    
}
footer{
    background-color: rgb(76, 72, 72);
    text-align: center;
}

#b{
    background-color:rgb(250, 244, 243);
    display: flex;
    text-align: center;
}
#c{
    background-color: bisque;
    display: inline-block;
    width: 14%;
}
/* #ss{
    height: 20px;
    width: 5px;
    border-style: solid;
    border-radius: 8px;
} */
#fd{
    font-size: 20px;
}
#img1{
    width: 50px;
    height: 100px;
}
#m1{
    background-color: aquamarine;
    color: rgb(5, 5, 8);
    width:20%;
}
#m2{
    background-color: rgb(255, 255, 255);
    /* width: 40%; */
    display: block;
}

#mini{
    display: flex;
   
}
#mini2{
    display: flex;
    
   
}